html, body {
    
    width:auto;
    font-family: Arial,Helvetica,'Hiragino Sans GB','Microsoft YaHei',sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #fff;
    color: #070e1d ;
}
.clearfix:after{
    content:"";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
ul,li.ol,dl,dd{
    list-style: none;
    padding: 0;
    margin: 0;
}
a:hover, a:visited, a:link, a:active{
	text-decoration: none;
	color:#070e1d;
}
.clearfix:after{
    content:"";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
@font-face {
  font-family: 'iconfont';  /* project id 135369 */
  src: url('//at.alicdn.com/t/font_ilnvhmxf3c70hpvi.eot');
  src: url('//at.alicdn.com/t/font_ilnvhmxf3c70hpvi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_ilnvhmxf3c70hpvi.woff') format('woff'),
  url('//at.alicdn.com/t/font_ilnvhmxf3c70hpvi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_ilnvhmxf3c70hpvi.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont";
    font-size:16px;font-style:normal;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.layout{
    max-width:1610px;
    left:0;
    right:0;
    top:0;
    bottom:0;
    padding-left:185px;
    padding-right:185px;
    margin:auto;
    box-sizing: border-box;
}
.wrap{
    width:auto;
    opacity: 1;
    -webkit-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
       -moz-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        -ms-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
         -o-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}
.wrap.open{
    opacity: 0;
}
/* 页眉 */
header{
    position: relative;
    width:100%;
    background: #fff;
}
header .logo{
    width:135px;
    height:70px;
    position: relative;
    float:left;
}
header .logo img{
    width:100%;
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
}
header .tab{
    float:right;
    display:block;
}
header .tab ul{
    float:left;
}
header .tab li{
    float:left;
    width:100px;
    box-sizing: border-box;
    height:70px;
    border-bottom:4px solid #fff;
    line-height:70px;
    text-align: center;
    margin-right:20px;    
}
header .tab li:hover{
    border-bottom:4px solid #68c1ec;
}
header .tab li.active{
    border-bottom:4px solid #68c1ec;
}
header .tab li a{
    display:inline-block;
    width:100%;
    color:#59baea;
    font-size:16px;
}
header .tab span{
    float:left;
    line-height:70px;
    height:70px;
    font-size:14px;
}
header .tab span a{
    color:#59baea;
}
header .tab_icon{
    display:none;
    float:right;
    width:24px;
    height:18px;
    margin-top:18px;
}
header .tab_icon img{
    width:24px;
    height:18px;
}
/* 侧边栏部分 */
.menu{
    position: fixed;
    z-index: 4;
    width:100%;
    background:#fff;
    height:100vh;
    box-sizing: border-box;
    display:flex;
    flex-direction: row;
    left:-100%;
    top:0;
    opacity: 0;
    -webkit-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
       -moz-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        -ms-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
         -o-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}
.menu.open{
    left:0;
    opacity: 1;
}
.menu .tab{
    width:80%;
    padding:40px 0 40px 40px;
}
.menu .tab li{
    height:40px;
    line-height:40px;
    text-align: left;
    font-size:16px;    
}
.menu .tab li.active a{
    color:#59baea;
}
.menu .tab li a{
    color:#ccc;
    display:inline-block;
    width:100%;
    height:100%;
}
.menu .tab span{
    display: inline-block;
    width:100%;
    height:40px;
    line-height:40px;    
}
.menu .tab span a{
    color:#ccc;
    display:inline-block;
    width:100%;
    height:100%;
}
.menu .del{
    width:20%;
    text-align: center;
    padding-top:20px;
}
.menu .del .iconfont{
    font-size: 24px;
}
/* 页脚部分 */
footer{
    width:auto;
    background: #000;
    height:220px;
    text-align: center;
    position: relative;
}
footer img{
    width:284px;
    height:74px;
    margin-top:50px;
    margin-bottom:30px;
}
footer span{
    display: inline-block;
    width:100%;
    color:#fff;
    font-size: 16px;
    line-height:20px;
}
/* 首页banner图 */
.index_banner{
    height:450px;
    position: relative;
    top:0;
}
.index_banner:before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
}
.index_banner .index_intro{
    position: absolute;
    z-index: 2;
    color:#fff;
    text-align: center;
    height:100%;
}
.index_banner .index_intro .name{
    margin-top:150px;
    margin-bottom:15px;
}
.index_banner .index_intro .name h2{
    margin:auto;
    font-weight: normal;
    line-height:42px;
    height:42px;
    letter-spacing: 2px;
}
.index_banner .index_intro .line{
    margin:auto;
    width:144px;
    height:2px;
    background:#68c1ec;
}
.index_banner .index_intro .intro{
    font-weight: normal;
    font-size:22px;
    line-height:28px;
    font-family: Verdana;
    margin-top:30px;
}
.index_banner .intro_img{
    width:100%;
    position: absolute;
    overflow:hidden;
    height:450px;
    text-align:center;
}
.index_banner .intro_img img{
    height:100%;
    width:auto;
    position:relative;
    left: 50%;
    transform: translateX(-50%);
}
/* 首页关于我们 */
.about{
    background:#f3f4f3;
    position: relative;
}
.about .about_us{
    box-sizing: border-box;
    padding-top:50px;
    padding-bottom:50px;
}
.about .about_1 ,.about .about_2{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
}
.about .about_2{
    width:66.666666%;
    margin:50px auto 0;
}
.about_1 .detail{
    width:33.333333%;    
    box-sizing: border-box;   
    font-size:14px;
    line-height:20px;
    padding:10px 60px;
}
.about_2 .detail{
    width:50%;    
    box-sizing: border-box;   
    font-size:14px;
    line-height:20px;
    padding:10px 60px;
}
.about .detail .detail_img{
    text-align: center;
}
.about .detail p{
    margin:20px auto 10px;
    font-size:18px;
    line-height:25px;
    text-align: center;
}
.about .detail span{
    text-align:left!important;
}
.about .yingjian img{
    width:74px;
    height:73px;
}
.about .ruanjian img{
    width:70px;
    height:70px;
}
.about .shiyan img{
    width:auto;
    height:74px;
}
.about .tuandui img{
    width:74px;
    height:64px;
}
.about .target img{
    width:80px;
    height:61px;
}
.index_cards{
    position: relative;
    top:0;
}
/* 首页卡片部分 */
.index_cards .cards_list{
    box-sizing: border-box;
    padding-top:70px;
    padding-bottom:70px;
    display:flex;
    flex-direction: row;
}
.index_cards .cards_list .cards_left ,.index_cards  .cards_list .cards_right{
    width:47%; 
    box-sizing: border-box;    
    box-shadow: 0 0 30px #dedfe2;
}
.index_cards .cards_list .cards_left a,.index_cards  .cards_list .cards_right a{
    display:inline-block;
    width:100%;
    height:100%;
    
}
.index_cards .cards_list .cards_left span,.index_cards  .cards_list .cards_right span{
    text-align: center;
    margin:20px 0;
    font-size:36px;
    line-height:50px;
    color:#060f20;
    display:inline-block;
    width:100%;
    letter-spacing: 2px;
}
.index_cards .cards_list .cards_left p,.index_cards  .cards_list .cards_right p{
    font-size:14px;
    line-height:20px;
    color:#060f20;
    padding:0 40px;
    padding-bottom:30px;
}
.index_cards .cards_list .cards_center{
    width:6%;
}
/* 新闻页面banner */
.news_banner{
    position: relative;
    height:285px;
    top:0;
}
.news_banner .intro_img{
    width:100%;
    position: absolute;
    overflow:hidden;
    height:285px;
    text-align:center;
}
.news_banner .intro_img img{
    height:100%;
    width:auto;
    position:relative;
    left: 50%;
    transform: translateX(-50%);
}
.news_banner .news_intro{
    position: absolute;
    z-index: 2;
    color:#fff;
    text-align: center;
    height:100%;
}
.news_banner .icon{
    margin-top:70px;
    text-align: center;
}
.news_banner .icon img{
    width:65px;
    height:58px;
}
.news_banner .name{
    display:flex;
    flex-direction: row;
    margin:20px 0 30px;
    
}
.news_banner .name hr{
    width:40%;
    vertical-align: middle;
    margin-top:20px;
}
.news_banner .name div{
    width:20%;
    text-align: center;
    height:40px;
    line-height:40px;
    font-size:24px;
    color:#fff;
    letter-spacing: 2px;
}
.news_banner .intro{
    text-align: center;
    font-size: 20px;
    color:#fff;
    line-height:28px;
    letter-spacing: 2px;
}
/*新闻卡片部分*/
.news_cards{
    position: relative;
    top:0;
    background:#fff;
}
.news_cards .cards_list{
    display: flex;
    flex-direction: row;
    padding-top:80px;
    padding-bottom:80px;
}
.news_cards .cards_list .card{
    position: relative;
    width:33.333333%;
    padding:10px;
    box-sizing: border-box;
    transition: all 0.1s linear;
}
.news_cards .cards_list .card img{
    width:100%;
}
/* 技术页banner */
.science_banner{
    position: relative;
    height:285px;
    top:0;
}
.science_banner .intro_img{
    width:100%;
    position: absolute;
    overflow:hidden;
    height:285px;
    text-align:center;
}
.science_banner .intro_img img{
    height:100%;
    width:auto;
    position:relative;
    left: 50%;
    transform: translateX(-50%);
}
.science_banner .science_intro{
    position: absolute;
    z-index: 2;   
    text-align: center;       
}
.science_banner .science_intro .intro{
    line-height:40px;
    color:#fff;
    font-size:20px;
    margin-top:100px;
    letter-spacing: 2px;
}
.science_banner .science_intro .line{
    width:140px;
    height:2px;
    background:#59baea;
    margin:50px auto 0;
}
/* 技术页面卡片 */
.science_cards {
    position: relative;
    top:0;
}
.science_cards .cards_list{
    display:flex;
    flex-direction: row;
    padding-top:90px;
    padding-bottom:90px;
}
.science_cards .cards_list .card{
    width:33.3333333%;
    padding:10px 40px;
    box-sizing: border-box;
}
.science_cards .cards_list .card div{
    text-align: center;
    margin-bottom:30px;
}
.science_cards .cards_list .science1 img{
    width:82px;
    height:89px;
}
.science_cards .cards_list .science2 img{
    width:88px;
    height:87px;
}
.science_cards .cards_list .science3 img{
    width:102px;
    height:91px;
}
.science_cards .cards_list .card p{
    font-size:14px;
    line-height:20px;
    width:90%;
    margin:0 auto;
    text-align: justify;
}
/* 技术页面介绍 */
.science_detail{
    position: relative;
    top:0;
}
.science_detail .intro{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom:90px;
}
.science_detail .intro p{
    width:50%;
    box-sizing: border-box;
    padding:20px 30px;
    font-size:14px;
    line-height:20px;
    margin:0 auto;
    text-align: justify;
}
.science_detail .intro p span{
    color:#59baea;
    font-size:16px;
    line-height:20px;
}
/* 技术页面科研论文部分 */
.science_article{
    position: relative;
    top:0;
}
.science_article .title{
    margin-bottom:30px;
}
.science_article .title h1{
    text-align: center;
    height:50px;
    line-height:48px;
    box-sizing: border-box;
    color:#59baea;
    letter-spacing: 2px;
    margin:0 auto;
}
.science_article .title .line{
    background: #d8d8d8;
    height:2px;
    width:200px;
    margin:0 auto;
}
.science_article .article{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top:20px;
}
.science_article .article .article_left,.science_article .article .article_right{
    width:49%;
    box-sizing: border-box;
    padding:10px 20px;
}
.science_article .article h3{
    text-align: center;
    font-size:18px;
    color:#afe5ff;
    letter-spacing: 1px;
    margin:10px auto 30px;
    font-family: Verdana-bold;
}
.science_article .article .left1,.science_article .article .left2,
.science_article .article .right1,.science_article .article .right2,
.science_article .article .right3{
    margin-bottom:20px;
    padding:10px 20px;
}
.science_article .article .msg{
    text-align: justify;
    font-size:14px;
    font-family: Verdana;
    line-height:20px;
    color:#30343c;
}
.science_article .article .time{
    text-align: right;
    font-size:14px;
    font-family: Verdana;
    line-height:20px;
    color:#30343c;
    margin:10px auto 25px;
}
.science_article .article .article_center{
    width:2%;
    box-sizing: border-box;
    margin-top:20px;
    margin-bottom:40px;
    text-align: center;
    background:url('../img/line.png') repeat-Y;
    background-size:contain;
    background-position: center center;
}
.science_article .icon{
    width:100%;
    text-align: center;
    padding:30px 0 80px;
}
.science_article .icon img{
    width:108px;
}
/* 团队banner */
.team_banner{
    position: relative;
    height:285px;
    top:0;
}
.team_banner .intro_img{
    width:100%;
    position: absolute;
    overflow:hidden;
    height:285px;
    text-align:center;
}
.team_banner .intro_img img{
    height:100%;
    width:auto;
    position:relative;
    left: 50%;
    transform: translateX(-50%);
}
.team_banner .team_intro{
    position: absolute;
    z-index: 2;
    color:#fff;
    text-align: center;
    height:100%;
}
.team_banner .icon{
    margin-top:70px;
    text-align: center;
}
.team_banner .icon img{
    width:64px;
    height:55px;
}
.team_banner .name{
    display:flex;
    flex-direction: row;
    margin:20px 0 30px;
    
}
.team_banner .name hr{
    width:40%;
    vertical-align: middle;
    margin-top:20px;
}
.team_banner .name div{
    width:20%;
    text-align: center;
    height:40px;
    line-height:40px;
    font-size:24px;
    color:#fff;
    letter-spacing: 2px;
}
.team_banner .intro{
    text-align: center;
    font-size: 20px;
    color:#fff;
    line-height:28px;
    letter-spacing: 2px;
}
/* 团队卡片部分 */
.team_cards{
    position: relative;
    top:0;
    margin-top:80px;
}
.team_cards .list1{
    display:flex;
    width:60%;
    margin:0 auto 50px;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding:30px;
}
.team_cards .list1 .card ,.team_cards .list2 .card{
    width:50%;
    position: relative;
    cursor: pointer;
    font-size:0;
    box-sizing: border-box;
}
.team_cards .list2{
    width:80%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding:20px;
    margin:0 auto 100px;
}
.team_cards .card .shadow{
    background:#000;
    opacity: 0.4;
    position: absolute;
    z-index: 2;
    display:block;
    width:100%;
    height:100%;
    left:0;
    top:0;
    -webkit-transition: opacity 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
       -moz-transition: opacity 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        -ms-transition: opacity 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
         -o-transition: opacity 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            transition: opacity 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}
.team_cards .card:hover .shadow{
    opacity:0;
}
.team_cards .card img{
    width:100%;
}
@media screen and (max-width:1400px)and (min-width:710px){
    .about_1 .detail,.about_2 .detail{ 
        padding:10px 20px;   
    }
    .science_cards .cards_list .card{
        padding:10px 20px;
    }
}
@media screen and (max-width:1200px)and (min-width:1035px){
    .news_cards .cards_list{
        padding-left:20px;
        padding-right:20px;
    }
}
@media screen and (max-width:1110px){
    .science_banner .science_intro{
        padding-left:20px;
        padding-right:20px;
    }
}
@media screen and (max-width:1035px) {
    .layout{
        padding-left:20px;
        padding-right:20px;
    }
}
@media screen and (max-width:710px) and (min-width:415px){
    .about_1 .detail,.about_2 .detail{
        width:100%; 
        margin:10px 0;
        padding:10px 60px;   
    }
}
@media screen and (max-width:414px) {
    .about_1 .detail,.about_2 .detail{ 
        width:100%; 
        margin:10px 0;
        padding:10px 20px;   
    }
}
@media screen and (max-width:710px) {
    header{
        position: fixed;
        z-index: 10;
    }
    header .tab{
        display: none;
    }
    header .tab_icon{
        display:block;    
    }
    header .logo{
        width:80px;
        height:54px;
        position: relative;
        float:left;
    }
    header .logo .img{
        width:80px;
        position: absolute;
        left:0;
        right:0;
        top:0;
        bottom:0;
        margin:auto;
    }
    footer{
        width:auto;
        background: #000;
        height:auto;
        text-align: center;
        top:54px;
    }
    footer img{
        max-width:284px;
        width:80%;
        height:auto;
        margin-top:30px;
        margin-bottom:20px;
        position: relative;
        left:-2px;
    }
    footer span{
        font-size: 12px;
        line-height:20px;
        margin-bottom:30px;
    }
    .about{
        top:54px;
    }
    .about .about_us{
        padding-top:20px;
        padding-bottom:20px;
    }
    .index_banner{
        top:54px;
    }
    .about .about_1 ,.about .about_2{
        width:100%;
        margin:0;
    }
    .index_cards{
        top:54px;
    }
    .index_cards .cards_list{
        box-sizing: border-box;
        padding-top:30px;
        padding-bottom:30px;
        display:block;
    }
    .index_cards .cards_list .cards_center{
        display:none;
    }
    .index_cards .cards_list .cards_left ,.index_cards  .cards_list .cards_right{
        width:100%; 
        box-sizing: border-box;    
        box-shadow: 0 0 30px #dedfe2;
        margin-bottom:30px;
    }
    .index_cards .cards_list .cards_right{
        margin-bottom:0;
    }
    
    .index_cards .cards_list .cards_left span,.index_cards  .cards_list .cards_right span{
        font-size:30px;
        margin:10px 0 0;
    }
    .index_cards .cards_list .cards_left p,.index_cards  .cards_list .cards_right p{
        font-size:14px;
        line-height:20px;
        color:#060f20;
        padding:0 40px;
        padding-bottom:10px;
    }
    .news_banner{
        top:54px;
        height:385px;
    }
    .news_banner .intro_img{
        height:385px;
    }
    .news_banner .name{
        display:block;
    }
    .news_banner .name hr{
        width:100%;
        margin-top:8px;
    }
    .news_banner .name div{
        width:100%;
        height:80px;
        line-height:80px;
        font-size:20px;
    }
    .news_banner .intro{
        font-size: 16px;
    }
    .news_cards{
        top:54px;
    }
    .news_cards .cards_list{
        display:block;
        padding-top:30px;
        padding-bottom:30px;
    }
    .news_cards .cards_list .card{
        width:100%;
        padding:0;
    }
    .science_banner{
        top:54px;
    }
    .science_banner .science_intro .intro{
        margin-top:80px;
    }
    .science_banner .science_intro .line{
        width:100%;
    }
    .science_cards{
        top:54px;
    }
    .science_cards .cards_list{
        display:block;
        padding-top:50px;
        padding-bottom:50px;
    }
    .science_cards .cards_list .card{
        width:100%;
        padding:20px 10px;
    }
    .science_detail{
        top:54px;
    }
    .science_detail .intro{
        padding-bottom: 50px;
    }
    .science_detail .intro p{
        width:100%;
        padding:10px 20px 20px;
    }
    .science_article{
        top:54px;
    }
    .science_article .title .line{
        width:100%;
        margin-top:20px;
    }
    .science_article .article .article_center{
        width:0;
    }
    .science_article .article .article_left,.science_article .article .article_right{
        width:100%;
        padding-left:5px;
        padding-right:5px;
    }
    .science_article .title{
        margin-bottom:0;
    }
    .science_article .article .left1,.science_article .article .left2,
    .science_article .article .right1,.science_article .article .right2,
    .science_article .article .right3{
        margin-bottom:0px;
        padding:10px 0;
    }
    .team_banner{
        top:54px;
        height:385px;
    }
    .team_banner .intro_img{
        height:385px;
    }
    .team_banner .name{
        display:block;
    }
    .team_banner .name hr{
        width:100%;
        margin-top:8px;
    }
    .team_banner .name div{
        width:100%;
        height:80px;
        line-height:80px;
        font-size:20px;
    }
    .team_banner .intro{
        font-size: 16px;
    }
    .team_cards{
        top:54px;
        margin-top:30px;
    }
    .team_cards .list1{
        width:80%;
        margin:0 auto 0;
        flex-direction: row;
        flex-wrap: wrap;
        box-sizing: border-box;
        padding:30px;
    }
    .team_cards .list1 .card ,.team_cards .list2 .card{
        width:90%;
        position: relative;
        cursor: pointer;
        font-size:0;
        box-sizing: border-box;
        margin:0 auto 30px;
    }
    .team_cards .list2{
        width:100%;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        box-sizing: border-box;
        padding:20px;
        margin:0 auto 50px;
    }
    .team_cards .card .shadow{
        opacity:0;
    }
}